[submodule "8game-solver"]
	path = 8game-solver
	url = https://github.com/melicheradam/8game-solver
[submodule "clusteringAlgos"]
	path = clusteringAlgos
	url = https://github.com/melicheradam/clusteringAlgos
[submodule "geneticAlgo"]
	path = geneticAlgo
	url = https://github.com/melicheradam/geneticAlgo
[submodule "pizzadefense-javascript"]
	path = pizzadefense-javascript
	url = https://github.com/melicheradam/pizzadefense-javascript
[submodule "saliency-prediction"]
	path = saliency-prediction
	url = https://github.com/melicheradam/saliency-prediction
[submodule "vpwa-quasar"]
	path = vpwa-quasar
	url = https://github.com/melicheradam/vpwa-quasar
